
<div class="container">

<p><strong>Hi</strong> <%= @user.name %> </h3> </p>
<h3> <%= @user.id %> </h3>



  <% @user.posts.each do |post|%>

    <%= image_tag post.image %>
    <p>
      <%= post.description %>

    </p>
  <% end %>
</div>
