<div class="container">
  <div class="row">
    <div class="col s12 #ffffff white">
      <div class="center">


<h4>Image Gallery</h1>
<% if !@current_user%>

<p>
  Please sign in to upload images
</p>

<% end %>
  <% @posts.each do |post| %>
    <p>
      <%= post.description %>
      </p>

      <p>
      <%= image_tag post.image, class: "responsive-img circle"%>
    </p>

  <% end %>

</div>
</div>
</div>
</div>
